# Chặn thư mục build của .NET
bin/
obj/

# Chặn thư mục thư viện Node.js (Tailwind)
node_modules/
package-lock.json

# Chặn các file cấu hình cá nhân của VS Code / Visual Studio
.vs/
.vscode/
*.user
*.suo

# Chặn rác hệ thống
.DS_Store
Thumbs.db